:root {
    --gap : 3rem
}

.layout {
    display: grid;
    grid-gap: var(--gap);
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";
    grid-template-rows: 100px calc(100vh - 246px) 50px;
}

.grid {
    background: #584f4f;
}

.grid-header {
    grid-area: header;
}
.grid-main {
    grid-area: main;
    margin-left: var(--gap);
}
.grid-aside {
    grid-area: aside;
    margin-right: var(--gap);
}
.grid-footer {
    grid-area: footer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

.item{
    position: relative;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    padding: 15px 35px;
    color: rgb(255, 251, 251);
    background: #18bd4f;
    border-radius: 4px;
    border-bottom: thin black;
    font-weight: bold;
}

.item:active {
    border-bottom: solid 2px #f0f0f0;
}